.footer {
  background-color: RGB(10, 170, 228); /* Dark green background */
  color: white;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
  min-width: 220px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color:RGB(255, 165, 0)
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footer-section ul li p {
  margin: 0 0 0 10px; /* Add some space between the icon and the text */
}

.footer-section ul li svg {
  color: white; /* Set color for the icons */
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: RGB(255, 165, 0)
  ;
}

.contact:hover {
  color: RGB(255, 165, 0)
}

.contact {
  cursor: pointer;
}

.footer-section p {
  font-size: 14px;
  margin-bottom: 20px;
}

.app-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.our-galary {
  margin-left: 40px;
}

.app-link img {
  height: 40px;
}

.gallery-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Maintain 3 columns layout */
  gap: 30px; /* Increase space between images */
}

.gallery-images img {
  width: 135%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s; /* Add transition for scaling effect */
}

.gallery-images img:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.1); /* Scale image by 10% on hover */
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #555;
  font-size: 14px;
}

.social-icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  color:RGB(255, 165, 0);
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #00bcd4;
}

.policy-links {
  margin-top: 10px;
}

.policy-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
}

.policy-links a:hover {
  color: #00bcd4;
}

.useful-links {
  margin-left: 20px;
}

.gallery-images img:hover {
  cursor: pointer;
  opacity: 0.7;
}


@media (max-width: 1280px) {
 
  .gallery-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Maintain 3 columns layout */
    gap: 40px; /* Increase space between images */
  }
}

@media (max-width:825px) {
 
  .gallery-images {
    display: grid;
    grid-template-columns: repeat(3, 20%); /* Maintain 3 columns layout */
    gap: 40px; /* Increase space between images */

  }
  .useful-links ul{
  margin-left: 20px;
    gap: 30px;
  }
  /* .useful-links h3{
    margin-left: 20px;
  } */
  .useful-links2{
    display: flex;
   
  }
}


@media (max-width:550px) {
 
  .useful-links2{
  position: relative;
  right: 30px;
  }}