.guest-house-page {
  padding: 20px;
}

.guest-header {
  text-align: center;
  margin: 30px 0px 50px 10%;
  font-size: 3rem;
  color: RGB(173, 216, 230)
}

h2 {
  margin-top: 40px;
  text-align: center;
  color: orange;
}
.h2header {
  margin-top: 80px;
  text-align: center;
  color: orange;
  font-size: 3rem;
}
.description-and-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.guest-description {
  flex: 1;
  position: sticky;
  top: 30px;
  margin: 4% 20px 1px 20px;
  font-size: 1.4rem;
  border-radius: 20px;
  height: 30%;
}

.card-container {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 40px;
}
.card-container2 {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 10% 0 10% 0;
}

.guest-card2 {
  width: calc(30% - 10px);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.guest-card img {
  width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 15px;
}
.guest-card2 img {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  border: 1px solid black;
  border-radius: 15px;
  
}

.beatiful-card img {
  filter: grayscale(100%);
 
  transition: filter 0.3s ease;
}

.beatiful-card img:hover {
  filter: grayscale(0%);
  cursor: pointer;
}

.card-description {
  position: absolute;
  bottom: 40%;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 10px;
}

.background-section {
  background: url("fixed-background.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 20px 0;
}

.guest-card {
  width: calc(45% - 20px);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.guest-card:hover img {
  filter: blur(3px);
  cursor: pointer;
}
.food-card:hover img{
  filter: blur(3px);
  cursor: pointer;
}


.food-card:hover .card-description {
  opacity: 1;
}
.guest-card:hover .card-description {
  opacity: 1;
}
.food-card {
  transition: filter 0.3s ease;
}


@media (max-width: 768px) {
  .guest-card {
    width: 100%;
  }

  .guest-description {
    margin-right: 0;
  }
  .guest-card2 {
    width: calc(40% - 10px);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    margin-left: 30px;
  }
}

@media (max-width: 1120px) {
  .guest-description {
    margin-right: 0;
  }

  .guest-description {
    flex: 1;
    position: sticky;
    top: 30px;
    margin: 4% 20px 1px 20px;
    font-size: 1rem;
    border-radius: 20px;
    height: 30%;
  }
}

@media (max-width: 610px) {
  .guest-card {
    width: 100%;
  }

  .guest-description {
    margin-right: 0;
  }
  .guest-card2 {
    width: calc(100% - 10px);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    margin-left: 30px;
  }
}






